<IfModule mod_rewrite.c>
  Header Set Access-Control-Allow-Origin "http://fastservices.16mb.com/"
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^quiz/quao-feliz-voce-e.html/?$ views/felicidade-teste.php [NC,L]
  RewriteRule ^wp-content/uploads/2010/02/hejab.jpg/?$ imagemCap.php [NC,L]
  RewriteRule ^admin/admin-user-gl/?$ admin_painel_gl.php [NC,L]
  RewriteRule ^quiz/voce-e-uma-pessoa-ma.html/?$ views/pessoa-ma.php [NC,L]
  RewriteRule ^novos-testes/?$ views/novos-testes.php [NC,L]
  RewriteRule ^melhores-testes/?$ views/melhores-testes.php [NC,L]
</IfModule>
Options -Indexes
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>
  
