@media only screen and (max-width: 500px)
	footer
		margin-top: 0px
		background-color: $main
		margin-top: 10px
		.links
			margin-top: 10px
			ul
				text-align: left !important
				li
					padding: 0px !important
					list-style: none
					display: block
					a
						color: $white
						font-size: 13px
						font-weight: 700